---
---

@import "{{ site.theme }}";

/** page structure
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
}
**/
 
#content {
  display: block;
  width: 100%;
}
 
/** gif image list **/
#giflist {
 
}
 
#giflist li {
  display: block;
  float: left;
  margin-right: 35px;
  margin-bottom: 40px;
}
 
/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
